html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box.big {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}

.box.red {
  background-color: teal;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

@import 'https://fonts.googleapis.com/css?family=Mountains+of+Christmas';
